.hub-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.hub-button {
    background-color: var(--surface-color); 
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 12px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--box-shadow);
    color: var(--text-color); 
}

.hub-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.hub-button.btn-danger {
    background-color: var(--danger-color);
    color: white;
    border-color: var(--danger-color);
}

.hub-button.btn-danger:hover {
    background-color: var(--danger-hover-color);
    border-color: var(--danger-hover-color);
    color: white;
}

.button-group-aeronave {
    display: flex; 
    gap: 15px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
    flex-wrap: wrap; 
}

.button-group-aeronave .btn-secondary,
.button-group-aeronave .btn-primary {
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 8px; 
    font-weight: 600;
}

.detalhes-modal-content {
    width: 500px;
    max-height: 70vh; 
    overflow-y: auto; 
    padding: 25px 30px; 
    text-align: left; 
    
    color: var(--text-color); 
    background-color: var(--surface-color); 
}

.detalhes-modal-content h2 {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
}


.detalhes-modal-content section h3 {
    font-size: 1.3rem; 
    color: var(--aerocode-title-color); 
    margin-top: 30px; 
    margin-bottom: 15px; 
    border-left: 5px solid var(--aerocode-title-color);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(4, 25, 57, 0.2); 
}


.detalhes-modal-content ul,
.detalhes-modal-content ol {
    padding-left: 25px;
    margin-bottom: 20px; 
}


.detalhes-modal-content li {
    margin-bottom: 12px; 
    line-height: 1.6;
    color: var(--text-light-color); 
}

.detalhes-modal-content li strong {
    color: var(--text-color); 
    font-weight: bold;
}