.form-container {
    background-color: rgba(37, 37, 133, 0.1);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px; 
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.form-group {
    margin-bottom: 0px;
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    font-weight: 400;
    color: #ffffff;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Garante que o padding não estoure a largura */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end; /* Alinha botões à direita */
    gap: 20px;
    margin-top: 20px;
}

.error-message {
    color: #d62828;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}