/* src/components/ManagerModal.css */
.manager-modal-container {
    width: 700px; 
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px 20px;
    background-color: var(--surface-color); /* CORREÇÃO: Usar cor de superfície escura */
    color: var(--text-color); /* Garantir que o texto seja claro */
    border-radius: 8px;
}

.manager-modal-container h2 {
    text-align: center;
    margin-top: 0;
}

.manager-actions {
    margin-bottom: 20px;
}

.manager-list {
    margin-top: 20px;
}

